[submodule "离散数学/练习"]
	path = 离散数学/练习
	url = https://github.com/arnoliudaxia/DiscreteMathTheoryr.git
[submodule "CS181 Artificial Intelligence I/Project-3"]
	path = CS181 Artificial Intelligence I/Project-3
	url = https://github.com/arnoliudaxia/ai-project3.git
[submodule "CS181 Artificial Intelligence I/Project-2"]
	path = CS181 Artificial Intelligence I/Project-2
	url = https://github.com/arnoliudaxia/ai-project-2.git
[submodule "CS100 Introduction to Programming\\"]
	path = CS100 Introduction to Programming\\
	url = https://github.com/arnoliudaxia/CS100Homework.git
[submodule "CS100 Introduction to Programming"]
	path = CS100 Introduction to Programming
	url = https://github.com/arnoliudaxia/CS100Homework.git
[submodule "CS181 Artificial Intelligence I/Project-1B"]
	path = CS181 Artificial Intelligence I/Project-1B
	url = https://github.com/arnoliudaxia/ai-project1B.git
[submodule "CS181 Artificial Intelligence I/Project-1A"]
	path = CS181 Artificial Intelligence I/Project-1A
	url = https://github.com/arnoliudaxia/ai-project1A
[submodule "SI100b 信息学导论/Project-AI"]
	path = SI100b 信息学导论/Project-AI
	url = https://github.com/arnoliudaxia/aiProject.git
[submodule "CS171 计算机图形学/assignment-2"]
	path = CS171 计算机图形学/assignment-2
	url = https://github.com/arnoliudaxia/CS171-assignment2.git
[submodule "CS171 计算机图形学/assign1"]
	path = CS171 计算机图形学/assign1
	url = https://github.com/arnoliudaxia/CS171-assignment1.git
[submodule "CS171 计算机图形学/assignment-3"]
	path = CS171 计算机图形学/assignment-3
	url = https://github.com/arnoliudaxia/CS171-assignment3.git
[submodule "CS171 计算机图形学/assignment-5"]
	path = CS171 计算机图形学/assignment-5
	url = https://github.com/arnoliudaxia/-CS171-assignment5.git
[submodule "CS171 计算机图形学/FinalProject/源代码"]
	path = CS171 计算机图形学/FinalProject/源代码
	url = https://github.com/arnoliudaxia/CS171-final-project.git
[submodule "CS120 计算机网络/Project代码仓库"]
	path = CS120 计算机网络/Project代码仓库
	url = https://github.com/arnoliudaxia/CS120SoundCommunication.git
[submodule "CS181 Artificial Intelligence I/Project-6"]
	path = CS181 Artificial Intelligence I/Project-6
	url = https://github.com/arnoliudaxia/ai-project6.git
[submodule "CS181 Artificial Intelligence I/Project-4:Ghostbusters"]
	path = CS181 Artificial Intelligence I/Project-4:Ghostbusters
	url = https://github.com/arnoliudaxia/Project-4.-Ghostbusters.git
[submodule "ShanghaiTech-administration-equipment-automation"]
	path = ShanghaiTech-administration-equipment-automation
	url = https://github.com/arnoliudaxia/ShanghaiTech-administration-equipment-automation.git
[submodule "SHtechNetLoginer"]
	path = SHtechNetLoginer
	url = https://github.com/arnoliudaxia/SHtechNetLoginer.git
